# Cutlet data

In [84]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
import scipy.stats as stats

In [85]:
cutlet=pd.read_csv("C:\\ExcelR\\Data Science Assignments\\3-Hypothesis Testing\\Cutlets.csv")

In [86]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [87]:
cutlet.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [88]:
stats.t.cdf(0.975,cutlet['Unit A'].mean(),cutlet['Unit A'].std())

0.7428124600787136

In [89]:
stats.t.cdf(0.975,cutlet['Unit B'].mean(),cutlet['Unit B'].std())

0.7260941949629725

In [90]:
Alpha=0.05

In [91]:
Cutlet_Unit_A=pd.Series(cutlet['Unit A'])

In [92]:
Cutlet_Unit_B=pd.Series(cutlet['Unit B'])

In [93]:
stats.ttest_ind( Cutlet_Unit_A,Cutlet_Unit_B)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.47223947245995)

In [94]:
#Since, P Value > Alpha.  Accept alternate Hypothesis, Hence we conclude that the Unit A is different from Unit B

# LabTAT1.csv Test

In [95]:
df_lab=pd.read_csv("C:\\ExcelR\\Data Science Assignments\\3-Hypothesis Testing\\LabTAT.csv")

In [96]:
df_lab.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [97]:
Alpha=0.05

In [98]:
stats.f_oneway(df_lab['Laboratory 1'], df_lab['Laboratory 2'],df_lab['Laboratory 3'],df_lab['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [99]:
#Here, P Value < Alpha.  Accept Null Hypothesis, Hence Average are same.we conclude that these Laboratories are equal

# BuyerRatio.csv Test

In [100]:
BuyerRatio = pd.read_csv("C:\\ExcelR\\Data Science Assignments\\3-Hypothesis Testing\\BuyerRatio.csv")

In [101]:
BuyerRatio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [102]:
BuyerRatio.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [103]:
stats.f_oneway(BuyerRatio.East, BuyerRatio.West,BuyerRatio.North,BuyerRatio.South)

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

In [104]:
#Here, P Value > Alfa.  Accept alternate Hypothesis, Hence we conclude that all Proportions are not equal

# Costomer+OrderForm.csv

In [105]:
df_cof = pd.read_csv("C:\\ExcelR\\Data Science Assignments\\3-Hypothesis Testing\\Costomer+OrderForm.csv")

In [106]:
df_cof

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [107]:
dummy_cof = pd.get_dummies(df_cof['Phillippines'])

In [108]:
dummy_cof = pd.get_dummies(df_cof['Indonesia'])

In [109]:
dummy_cof = pd.get_dummies(df_cof['Malta'])

In [110]:
dummy_cof = pd.get_dummies(df_cof['India'])

In [111]:
dummy_cof

     Defective  Error Free
0            0           1
1            1           0
2            0           1
3            0           1
4            0           1
..         ...         ...
295          0           1
296          0           1
297          0           1
298          0           1
299          0           1

[300 rows x 2 columns]

In [112]:
df_cof.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [113]:
stats.f_oneway(dummy_cof.iloc[:,0], dummy_cof.iloc[:,1])

F_onewayResult(statistic=1804.6785714285716, pvalue=9.571135321205332e-183)

In [114]:
#Here, P Value < Alpha. Accept Null Hypothesis, Hence Average are same.we conclude that defective are not varies in centre

# Faltoons.csv

In [115]:
df_faltoons = pd.read_csv("C:\\ExcelR\\Data Science Assignments\\3-Hypothesis Testing\\Faltoons.csv")

In [116]:
df_faltoons

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [117]:
dummy_1 = pd.get_dummies(faltoons['Weekdays'])

In [118]:
dummy_1 = pd.get_dummies(faltoons['Weekend'])

In [119]:
dummy_1

     Female  Male
0         1     0
1         0     1
2         0     1
3         1     0
4         1     0
..      ...   ...
395       0     1
396       1     0
397       1     0
398       0     1
399       1     0

[400 rows x 2 columns]

In [120]:
stats.f_oneway(dummy_1.iloc[:,0], dummy_1.iloc[:,1])

F_onewayResult(statistic=22.333581763511603, pvalue=2.7080949149956605e-06)

In [121]:
# #Here, P Value < Alpha. Accept Null Hypothesis, hence Proportion of male vs female in weekdays = Proportion of male vs female in weekends.