In [28]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [29]:
company = pd.read_csv("C:\\ExcelR\\Data Science Assignments\\15- Random Forests\\Company_Data.csv")

In [30]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [31]:
#Creating Dummy Variables.
company = pd.get_dummies(company,columns=['ShelveLoc','US','Urban'],drop_first=True)

In [32]:
def norm_func(i):
  x=(i-i.min())/(i.max()-i.min())
  return(x)

In [67]:
df_norm1 = norm_func(company.iloc[:,1:])
df_norm1.tail(10)

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Good,ShelveLoc_Medium,US_Yes,Urban_Yes
390,0.316327,0.545455,0.310345,0.102204,0.520958,0.763636,0.250,0.0,1.0,1.0,1.0
391,0.775510,0.424242,0.000000,0.078156,0.598802,0.563636,0.750,0.0,0.0,0.0,1.0
392,0.530612,0.212121,0.448276,0.611222,0.634731,0.163636,0.375,0.0,0.0,1.0,1.0
393,0.326531,0.303030,0.344828,0.032064,0.574850,0.090909,0.875,0.0,1.0,1.0,0.0
394,0.540816,0.373737,0.655172,0.713427,0.688623,0.145455,0.750,0.0,0.0,1.0,1.0
395,0.622449,0.878788,0.586207,0.386774,0.622754,0.145455,0.500,1.0,0.0,1.0,1.0
396,0.632653,0.020202,0.103448,0.054108,0.574850,0.545455,0.125,0.0,1.0,1.0,0.0
397,0.867347,0.050505,0.413793,0.717435,0.808383,0.272727,1.000,0.0,1.0,1.0,1.0
398,0.234694,0.585859,0.241379,0.549098,0.425150,0.454545,0.250,0.0,0.0,1.0,1.0
399,0.581633,0.161616,0.000000,0.034068,0.574850,0.436364,0.750,1.0,0.0,1.0,1.0

In [76]:
feature_cols = ['Sales','Income','Advertising','Population','Price','Age','Education']

In [77]:
label = ['CompPrice']

In [78]:
X = company[feature_cols] # Features

In [79]:
X

     Sales  Income  Advertising  Population  Price  Age  Education
0     9.50      73           11         276    120   42         17
1    11.22      48           16         260     83   65         10
2    10.06      35           10         269     80   59         12
3     7.40     100            4         466     97   55         14
4     4.15      64            3         340    128   38         13
..     ...     ...          ...         ...    ...  ...        ...
395  12.57     108           17         203    128   33         14
396   6.14      23            3          37    120   55         11
397   7.41      26           12         368    159   40         18
398   5.94      79            7         284     95   50         12
399   9.71      37            0          27    120   49         16

[400 rows x 7 columns]

In [80]:
y = company[label] # Target variable

In [81]:
y

     CompPrice
0          138
1          111
2          113
3          117
4          141
..         ...
395        138
396        139
397        162
398        100
399        134

[400 rows x 1 columns]

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [83]:
from sklearn.ensemble import RandomForestClassifier as RF

In [84]:
forest = RF(n_estimators=100,max_depth=10,min_samples_split=20,criterion='entropy')

In [85]:
forest.fit(X_train,y_train)

C:\Users\theam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [86]:
model = RF(criterion = 'entropy',max_depth=3)

In [87]:
model.fit(X_train,y_train)

C:\Users\theam\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\theam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=3, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [88]:
print('Train accuracy: {}'.format(forest.score(X_train, y_train)))
print('Test accuracy: {}'.format(forest.score(X_test, y_test)))

Train accuracy: 0.5678571428571428
Test accuracy: 0.016666666666666666

In [92]:
forest_gini = RF(n_estimators=100,max_depth=10,min_samples_split=20,criterion='gini')

In [94]:
forest_gini.fit(X_train,y_train)

C:\Users\theam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [95]:
print('Train accuracy: {}'.format(forest_gini.score(X_train, y_train)))
print('Test accuracy: {}'.format(forest_gini.score(X_test, y_test)))

Train accuracy: 0.8071428571428572
Test accuracy: 0.016666666666666666